.clear-float {
	clear: both
}
.clear-internal-float:after {
	display: block;
	content: " ";
	clear: both
}
.margin-top-0 {
	margin-top: 0px !important
}
.margin-right-0 {
	margin-right: 0px !important
}
.margin-bottom-0 {
	margin-bottom: 0px !important
}
.margin-left-0 {
	margin-left: 0px !important
}
.padding-top-0 {
	padding-top: 0px !important
}
.padding-right-0 {
	padding-right: 0px !important
}
.padding-bottom-0 {
	padding-bottom: 0px !important
}
.padding-left-0 {
	padding-left: 0px !important
}
.margin-top-3 {
	margin-top: 3px !important
}
.margin-right-3 {
	margin-right: 3px !important
}
.margin-bottom-3 {
	margin-bottom: 3px !important
}
.margin-left-3 {
	margin-left: 3px !important
}
.padding-top-3 {
	padding-top: 3px !important
}
.padding-right-3 {
	padding-right: 3px !important
}
.padding-bottom-3 {
	padding-bottom: 3px !important
}
.padding-left-3 {
	padding-left: 3px !important
}
.margin-top-5 {
	margin-top: 5px !important
}
.margin-right-5 {
	margin-right: 5px !important
}
.margin-bottom-5 {
	margin-bottom: 5px !important
}
.margin-left-5 {
	margin-left: 5px !important
}
.padding-top-5 {
	padding-top: 5px !important
}
.padding-right-5 {
	padding-right: 5px !important
}
.padding-bottom-5 {
	padding-bottom: 5px !important
}
.padding-left-5 {
	padding-left: 5px !important
}
.margin-top-8 {
	margin-top: 8px !important
}
.margin-right-8 {
	margin-right: 8px !important
}
.margin-bottom-8 {
	margin-bottom: 8px !important
}
.margin-left-8 {
	margin-left: 8px !important
}
.padding-top-8 {
	padding-top: 8px !important
}
.padding-right-8 {
	padding-right: 8px !important
}
.padding-bottom-8 {
	padding-bottom: 8px !important
}
.padding-left-8 {
	padding-left: 8px !important
}
.margin-top-10 {
	margin-top: 10px !important
}
.margin-right-10 {
	margin-right: 10px !important
}
.margin-bottom-10 {
	margin-bottom: 10px !important
}
.margin-left-10 {
	margin-left: 10px !important
}
.padding-top-10 {
	padding-top: 10px !important
}
.padding-right-10 {
	padding-right: 10px !important
}
.padding-bottom-10 {
	padding-bottom: 10px !important
}
.padding-left-10 {
	padding-left: 10px !important
}
.margin-top-15 {
	margin-top: 15px !important
}
.margin-right-15 {
	margin-right: 15px !important
}
.margin-bottom-15 {
	margin-bottom: 15px !important
}
.margin-left-15 {
	margin-left: 15px !important
}
.padding-top-15 {
	padding-top: 15px !important
}
.padding-right-15 {
	padding-right: 15px !important
}
.padding-bottom-15 {
	padding-bottom: 15px !important
}
.padding-left-15 {
	padding-left: 15px !important
}
.margin-top-20 {
	margin-top: 20px !important
}
.margin-right-20 {
	margin-right: 20px !important
}
.margin-bottom-20 {
	margin-bottom: 20px !important
}
.margin-left-20 {
	margin-left: 20px !important
}
.padding-top-20 {
	padding-top: 20px !important
}
.padding-right-20 {
	padding-right: 20px !important
}
.padding-bottom-20 {
	padding-bottom: 20px !important
}
.padding-left-20 {
	padding-left: 20px !important
}
.margin-top-25 {
	margin-top: 25px !important
}
.margin-right-25 {
	margin-right: 25px !important
}
.margin-bottom-25 {
	margin-bottom: 25px !important
}
.margin-left-25 {
	margin-left: 25px !important
}
.padding-top-25 {
	padding-top: 25px !important
}
.padding-right-25 {
	padding-right: 25px !important
}
.padding-bottom-25 {
	padding-bottom: 25px !important
}
.padding-left-25 {
	padding-left: 25px !important
}
.margin-top-30 {
	margin-top: 30px !important
}
.margin-right-30 {
	margin-right: 30px !important
}
.margin-bottom-30 {
	margin-bottom: 30px !important
}
.margin-left-30 {
	margin-left: 30px !important
}
.padding-top-30 {
	padding-top: 30px !important
}
.padding-right-30 {
	padding-right: 30px !important
}
.padding-bottom-30 {
	padding-bottom: 30px !important
}
.padding-left-30 {
	padding-left: 30px !important
}
.margin-top-40 {
	margin-top: 40px !important
}
.margin-right-40 {
	margin-right: 40px !important
}
.margin-bottom-40 {
	margin-bottom: 40px !important
}
.margin-left-40 {
	margin-left: 40px !important
}
.padding-top-40 {
	padding-top: 40px !important
}
.padding-right-40 {
	padding-right: 40px !important
}
.padding-bottom-40 {
	padding-bottom: 40px !important
}
.padding-left-40 {
	padding-left: 40px !important
}
.margin-top-50 {
	margin-top: 50px !important
}
.margin-right-50 {
	margin-right: 50px !important
}
.margin-bottom-50 {
	margin-bottom: 50px !important
}
.margin-left-50 {
	margin-left: 50px !important
}
.padding-top-50 {
	padding-top: 50px !important
}
.padding-right-50 {
	padding-right: 50px !important
}
.padding-bottom-50 {
	padding-bottom: 50px !important
}
.padding-left-50 {
	padding-left: 50px !important
}
.margin-top-60 {
	margin-top: 60px !important
}
.margin-right-60 {
	margin-right: 60px !important
}
.margin-bottom-60 {
	margin-bottom: 60px !important
}
.margin-left-60 {
	margin-left: 60px !important
}
.padding-top-60 {
	padding-top: 60px !important
}
.padding-right-60 {
	padding-right: 60px !important
}
.padding-bottom-60 {
	padding-bottom: 60px !important
}
.padding-left-60 {
	padding-left: 60px !important
}
.margin-top-100 {
	margin-top: 100px !important
}
.margin-right-100 {
	margin-right: 100px !important
}
.margin-bottom-100 {
	margin-bottom: 100px !important
}
.margin-left-100 {
	margin-left: 100px !important
}
.padding-top-100 {
	padding-top: 100px !important
}
.padding-right-100 {
	padding-right: 100px !important
}
.padding-bottom-100 {
	padding-bottom: 100px !important
}
.padding-left-100 {
	padding-left: 100px !important
}
.grow {
	flex-grow: 1;
	-webkit-flex-grow: 1;
	-moz-flex-grow: 1;
	-ms-flex-grow: 1
}
.shrink {
	flex-shrink: 0;
	-webkit-flex-shrink: 0;
	-moz-flex-shrink: 0;
	-ms-flex-shrink: 0
}
input[type="checkbox"].basic-checkbox, input[type="radio"].basic-radio {
	display: none
}
input[type="checkbox"].basic-checkbox+label, input[type="radio"].basic-radio+label {
	cursor: pointer;
	padding-left: 20px;
	display: inline-block;
	vertical-align: top;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: relative
}
input[type="checkbox"].basic-checkbox+label {
	background: url(../assets/checkboxes-and-radio-buttons.png) no-repeat 0 -200px
}
input[type="checkbox"].basic-checkbox:checked+label {
	background: url(../assets/checkboxes-and-radio-buttons.png) no-repeat 0 0
}
input[type="radio"].basic-radio+label {
	background: url(../assets/checkboxes-and-radio-buttons.png) no-repeat 0 -600px
}
input[type="radio"].basic-radio:checked+label {
	background: url(../assets/checkboxes-and-radio-buttons.png) no-repeat 0 -400px
}
::-webkit-input-placeholder {
	font-size: 13px;
	line-height: 18px;
	font-style: normal;
	color: #888
}
::-moz-placeholder {
	font-size: 13px;
	line-height: 18px;
	font-style: normal;
	color: #888
}
::-ms-input-placeholder {
	font-size: 13px;
	line-height: 18px;
	font-style: normal;
	color: #888
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	border: 0;
	width: 100% !important
}
table td, table th {
	vertical-align: top;
	border: 1px solid #eee;
	background: transparent;
	padding: 4px 5px
}
table td.column-50 {
	width: 50%
}
table td.column-33 {
	width: 33%
}
table td.column-25 {
	width: 25%
}
table td.column-17 {
	width: 16.6%
}
table.columns-2 td {
	width: 50%
}
table.stripped td {
	border: 0;
	border-bottom: 1px solid #eee;
	background-color: transparent
}
table.small td {
	font-size: 9px;
	padding: 5px
}
table.transparent td, table.transparent th {
	background-color: #fff;
	border-color: #fff
}
table.no-padding td, table.no-padding th {
	padding: 0
}
label {
	font-size: 10px;
	display: block
}
.input-inline {
	display: inline-block !important
}
.radio-with-input {
	display: inline-block
}
.input-field {
	font-size: 10px;
	font-weight: bold;
	color: #555;
	line-height: 17px
}
.input-checkbox, .input-radio {
	font-size: 10px;
	font-weight: bold;
	display: block;
	color: #555
}
.input-checkbox img, .input-radio img {
	display: inline-block;
	width: 8px;
	height: 8px;
	margin: 0px 2px 0px 1px;
	vertical-align: baseline
}
.input-checkbox.input-inline, .input-radio.input-inline {
	margin-right: 16px
}
input[type='text'], input[type='email'], input[type='password'], input[type='url'], input[type='tel'], input[type='number'], textarea {
	display: block;
	width: 100%;
	padding: 0;
	border: none;
	background: transparent;
	box-sizing: border-box;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px;
	font-weight: 600;
	color: #444;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	max-width: 440px
}
input[type='text'] td, input[type='text'] .col, input[type='email'] td, input[type='email'] .col, input[type='password'] td, input[type='password'] .col, input[type='url'] td, input[type='url'] .col, input[type='tel'] td, input[type='tel'] .col, input[type='number'] td, input[type='number'] .col, textarea td, textarea .col {
	border-color: #f3f3f3;
	max-width: 100%
}
input[type='text'].underline, input[type='email'].underline, input[type='password'].underline, input[type='url'].underline, input[type='tel'].underline, input[type='number'].underline, textarea.underline {
	background-color: transparent;
	border: 0;
	border-bottom: 1px solid #666
}
table.stripped td input[type='text'], table.stripped td input[type='email'], table.stripped td input[type='password'], table.stripped td input[type='url'], table.stripped td input[type='tel'], table.stripped td input[type='number'], table.stripped td textarea {
	border-color: #aaa
}
input[type='text']:disabled, input[type='email']:disabled, input[type='password']:disabled, input[type='url']:disabled, input[type='tel']:disabled, input[type='number']:disabled, textarea:disabled {
	background: red
}
textarea {
	max-width: 100%
}
select {
	display: block;
	width: 100%;
	padding: 5px 10px;
	background-color: #fff;
	box-sizing: border-box;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #ccc;
	font-size: 10px;
	font-weight: 600;
	color: #444
}
html, body, div, p, span, td, th {
	font-size: 10px
}
html, body {
	font-family: sans-serif !important;
	color: #444;
	line-height: 1.5
}
* {
	font-family: sans-serif !important
}
h1 {
	font-size: 18px;
	font-weight: bold;
	margin: 22px 0 4px
}
h2 {
	font-size: 16px;
	font-weight: bold;
	margin: 19px 0 3px
}
h3 {
	font-size: 13px;
	font-weight: bold;
	margin: 14px 0 2px
}
h4, h5, h6 {
	font-size: 12px;
	font-weight: 600;
	margin: 15px 0 2px
}
h1 .thin, h2 .thin, h3 .thin, h4 .thin, h5 .thin, h6 .thin {
	font-weight: 400
}
p {
	margin-bottom: 10px !important
}
small {
	font-size: 9px
}
.alert {
	padding: 10px;
	border: 1px solid #888;
	display: block
}
.alert.alert-success {
	background-color: #dff0d8;
	border-color: #d0e9c6;
	color: #3c763d
}
.alert.alert-info {
	background-color: #d9edf7;
	border-color: #bcdff1;
	color: #31708f
}
.alert.alert-warning {
	background-color: #fcf8e3;
	border-color: #faf2cc;
	color: #8a6d3b
}
.alert.alert-danger {
	background-color: #f2dede;
	border-color: #ebcccc;
	color: #a94442
}
.inline-block {
	display: inline-block !important
}
.m-t-0 {
	margin-top: 0 !important
}
.m-b-1 {
	margin-bottom: 10px !important
}
.m-l--3 {
	margin-left: -30px !important
}
.m-l--2 {
	margin-left: -20px !important
}
.m-l--1 {
	margin-left: -10px !important
}
body {
	box-sizing: border-box;
	max-width: 920px
}
.align-right {
	float: right
}
.thin {
	font-weight: 400
}
a {
	color: #398ECF;
	cursor: pointer
}
blockquote {
	font-weight: 600;
	font-style: italic;
	position: relative;
	padding-left: 40px;
	margin: 0
}
blockquote:before {
	content: '"';
	font-size: 40px;
	position: absolute;
	left: 0px;
	margin-top: -10px
}
.marker {
	background-color: #ff0
}
.inline-block {
	display: inline-block
}
pagebreak {
	page-break-after: always
}
.pagebreak-avoid {
	page-break-inside: avoid !important;
	margin: 4px 0 4px 0;
}
.no-page-break {
	border-top: 5px solid transparent;
	-webkit-page-break-inside: avoid;
	page-break-inside: avoid
}